definition:
  action: REWRITE_RESOURCE_PATH
  parameters:
    resourcePath: {{ .newResourcePath }}
    {{- if ne .includeQueryParams true }}
    includeQueryParams: {{ .includeQueryParams }}
    {{- end }}
